.navbar {
    box-shadow: 0px 15px 10px -15px #798280;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    
}
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
picture {
    width: 25%;
}
.logo {
    width: 100%;
}
.search-bar-container {
    border-bottom: solid 2px #a6beb1;
    display: flex;
    justify-content: space-between;
}
.search-bar-container input {
    border: none;
    outline: none;
    width: 90%;
    
}
.search {
    background-color: white;
    border: none;
}
.searchIcon {
    color: #798280;
}
.register {
    display: none;
    justify-content: center;
    gap: 10px;
}
a {
    text-decoration: none;
    color: #798280;
    font-size: 18px;
    font-weight: bold;
    transition: all 1s;
}
.menu a:hover {
    border-top: solid 1px #798280;
    border-bottom: solid 1px #798280;
}
li {
    list-style-type: none;
} 
.icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.cartIcon, .hamMenu {
    color: #798280;
    font-size: 22px;
}
.menu {
    display: none;
    justify-content: center;
    gap: 10px;
}
h1 {
    text-align: center;
}

@media (min-width: 769px) {
    .navbar {
        padding: 10px 30px;
    }
    picture {
        width: 15%;
    }
    .icons .hamMenu {
        display: none;
    }
    .register {
        display: flex;
    }
    .top-bar form {
        width: 50%;
    }
    .menu {
        display: flex;
    }
}