.register-container, .register-form {
    width: 80%;
    border-radius: 5px;
    background-color: rgba(121, 130, 128, 0.3);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    color: #3e6b59;
}
.register-container {
    margin: 40px auto;
}
.register-form {
    margin: auto;
    font-size: 16px;
}

.form-group, .form-group-image {
    width: 80%;
    
}

.form-group label, .form-group-image label {
    font-weight: bold;
}

.error-msg {
    color: rgb(245, 49, 49);
}

.form-input {
    width: 100%;
    height: 30px;
    border: solid 1px #3e6b59;
    outline-color: #3e6b59;
}

.inputInstruction {
    font-size: 11px;
    font-style: italic;
}

button {
    border-radius: 5px;
    background-color: #3e6b59;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    margin: auto;
    font-size: 16px;
}

@media (min-width: 769px) {
    .register-form {
        margin: 10px auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .register-container {
        height: 480px;
        gap: 5px;
    }

    .welcome-register {
        font-size: 30px;
    }

    .register-form .form-group {
        width: 40%;
    }

    .form-group-image {
        width: 80%;
        margin: 0px 30px;
    }

    

}