.login-container, .login-form {
    width: 80%;
    border-radius: 5px;
    background-color: rgba(121, 130, 128, 0.3);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    color: #3e6b59;
}
.login-container {
    margin: 40px auto;
}
.login-form {
    margin: auto;
    font-size: 18px;
}

.form-group {
    width: 80%;
    
}

.form-group label {
    font-weight: bold;
}

.error-msg {
    color: rgb(245, 49, 49);
}

.form-input {
    width: 100%;
    height: 30px;
    border: solid 1px #3e6b59;
    outline-color: #3e6b59;
}

button {
    border-radius: 5px;
    background-color: #3e6b59;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    margin: auto;
    font-size: 16px;
}

@media (min-width: 769px) {
    .login-form {
        width: 50%;
        margin: 10px auto;
    }

    .login-container {
        height: 400px;
    }

    .welcome-login {
        font-size: 30px;
    }


}